.Home {
  .clickable:hover {
    cursor: pointer;
  }
  .card {
    margin: 1em auto;
    width: 75vw;
  }
  .t1 {
    padding: .5em !important;
    margin: .5em;
  }
  .data-wrap {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  h4 {
    margin-bottom: 1em;
  }
  @media (max-width: 600px) {
  .card {
    width: 100%;
  }
  .data-wrap {
    width: 100%;
    margin: 15px;
    display: inherit;
  }
}
  ul {
    padding-left: 32px;
    li {
      margin: 0 0 .5em 0;
    }
  }
}
